<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
    <div class="col-12">
      <table class="table" style= "border-radius: 3px;">
        <thead>
          <tr>
          <th class="col-1">S.no</th>
          <th class="col-2">Comment</th>
          <th class="col-2">description</th>
          <th class="col-2">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of listofTask">
            <td>{{task.id}}</td>
            <td>{{task.comment}}</td>
            <td>{{task.description}}</td>
            <td>{{task.time}}</td>

            <button type="button" class="btn btn-success" style="color:black" (click)="editTask(task.id)">Edit</button>
            
            <button type="button" class="btn btn-warning" (click)="deleteTask(task.id)">Delete</button>
          </tr>
        </tbody>
      </table>
    
    
    </div>
    </div>
    
</div>
