<div >
  <table class="table table-striped w-75 p-3 position-absolute  start-50 translate-middle border border-success" style="top: 30%;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ListName</th>
        <th scope="col">CreatedBy</th>
        <th scope="col">CreatedDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of listofList">
        <td>{{list.Sno}}</td>
        <td>{{list.listName}}</td>
        <td>{{list.createdBy}}</td>
        <td>{{list.createdDate |date}}</td>
      </tr>
    </tbody>
  </table>


</div>
