<div class="row">
    
</div>
<div class="w-25 p-3 position-absolute top-50 start-50 translate-middle" >

    <div class="form-group">
      <label for="exampleFormControlInput1">Comment</label>
      <input type="text" class="form-control"  placeholder="abcdMorningList" [(ngModel)]="comment">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Discription</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"[(ngModel)]="description"></textarea>
    </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Time</label>
        <input type="time" class="form-control" placeholder="abcdMorningList" [(ngModel)]="time">
      </div>
  <button type="button" class="btn btn-success" style="width: 100%;" (click)="addTask()"><b>Add Task</b></button>
  <button type="button" class="btn btn-success" style="width: 100%;" (click)="editTask()"><b>Edit Task</b></button>
</div>